    .txtarea {
        border-right: #646464;
        border-top: #646464;
        border-left: #646464;
        border-bottom: #646464;
        width: 100%;
        background: #ffffcc;
        text-align:collapse;
    }

    #ttable1,
    #ttable {
        float: right;
    }

    footer {
        background-color: #777;
        padding: 5px;
        text-align: center;
        color: white;
    }

    body {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        line-height: 1.6;
        color: #655A56;
        background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: calc(100vh - 2 * 4vw);
    }

    .customtable {
        width: 80%;
        margin: 0px auto;
        margin-top: 30px;
    }

    .customtable>caption {
        font-size: 20px;
    }

    .customtable>thead>tr {
        text-align: center;
        font-size: 14px;
    }

    .customtable>thead>tr>th {
        background-color: #9999FF;
        color: black;
        text-align: center;
        vertical-align: middle;
    }

    .customtable>tbody {
        font-size: 14px;
        overflow: auto;
        height: 300px;
    }

    table {
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }
    .toast-top-center {
        top: 50px;
        margin: 0 auto;
        left: 50%;
    }
