label {
	color: black;
	font-weight: bold;
	font-size: 30px;
}

.success {
	font-weight: bold;
	color: green;
	font-size: 24px;
}

.fail {
	font-weight: bold;
	color: red;
	font-size: 24px;
}

.required:before{
	content:"*";
	font-weight:bold;
	font-size:20px;
	color: red;
}
