header{
      text-align:center;
}
footer {
      background-color: #777;
      padding: 10px;
      text-align: center;
      color: white;
  }

#Retreive {
      margin: 20px;
  }
table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
  }
td,th {
    border: 2px solid hsl(0, 17%, 2%);
    text-align: left;
    padding: 8px;
  }
tr {
    background-color: #dddddd;
  }
