 
body{
    background-image:url("back.jpeg"); 
    background-repeat: no-repeat;
    background-size:cover;
}   
.bankingtable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 2px solid white;
    text-align: left;
    padding: 10px;
    font-size:20px;
    color:white
    
}
label {
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
button {
    margin-left: 10px;
    margin-right:10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

tr:nth-child(all) {
    background-color: #f5f0f0;
}
    .bankingtable {width:80%;margin:0px auto;margin-top:30px;}
    .bankingtable>caption {font-size:20px;}
    .bankingtable>thead>tr {align:center;font-size:14px;}
    .bankingtable>thead>tr>th {background-color:black;color:white;text-align:center;vertical-align:middle;}
    .bankingtable>tbody {font-size:14px;color:white;overflow:auto;height:300px;}
    .carousel-inner img {
      width: 40%;
      height: 50%;
  }