<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            padding: 25px;
            background-color: rgb(11, 229, 236);
            background-image: url("http://proxy53.hellorf.com/ak7/shutterstock/videos/28360627/thumb/1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            color: dodgerblue;
            font-weight: 900;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            margin: 0;
            font: inherit;
            color: black;
        }

        h1 {
            color: rgb(81, 216, 250);
            font-family: verdana;
            font-size: 300%;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: center;
            padding: 8px;
        }

        tr {
            background-color: #ffffff;
            color: rgb(10, 10, 10)
        }

        th {
            background-color: rgb(78, 171, 247);
            color: rgb(255, 255, 255);
        }

        .modal-content {
            background-color: #04cafc;
            margin: auto;
            padding: 20px;
            color: #ffffff;
            width: 30%;
            height: 35%;
            text-align: center;

            padding: 100px;
            top: 200px;
        }
    </style>
    <title>Defects Application</title>
</head>

<body>
    <div class="container">
        <header style="text-align:center">
            <h1>Defects Application</h1>
        </header>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="#"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item ">
                    <a class="nav-link" href="#create" id="showCreate">
                        <img src="https://png.icons8.com/cotton/50/000000/create-new.png">Create</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#retrive" id="showRetrive">
                        <img src="https://png.icons8.com/dusk/50/000000/search.png">Retrive</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#delete" id="showDelete">
                        <img src="https://png.icons8.com/dusk/50/000000/delete-forever.png">Delete</a>
                </li>
            </ul>

        </div>

    </nav>

    <div class="card-body">

        <div class="container">

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 form_style">

                    <!-- Create form -->
                    <form style="display: none;" id="Create_form">

                        <!-- Description form -->
                        <div class="form-group">
                            <label for="description"><b>Description</b></label>
                            <textarea class="form-control" id="description" rows="3" pattern="[A-Za-z]{1,15}" required></textarea>
                        </div>

                        <!-- AssignedTo form -->
                        <div class="form-group">
                            <label for="assignedTo"><b>Enter whom you want to assign</b></label>
                            &nbsp&nbsp
                            <input type="text" class="form-control" id="assignedTo" placeholder="assigne name" pattern="[A-Za-z]{1,15}" required>
                        </div>

                        <!-- Select form for category,priority & status -->
                        <div class="form-group">

                            <!-- Category  -->
                            <label for="category"><b>Category</b></label>
                            &nbsp
                            <select id="category" class="form-control" style="height: 34px">
                                <option value="hardware">Hardware</option>
                                <option value="software">Software</option>
                            </select>
                        </div>

                        <div class="form-group">

                            <!-- Priority -->
                            <label for="priority"><b>Priority</b></label>
                            &nbsp
                            <select id="priority" class="form-control" style="height: 34px">
                                <option value="p1">P1</option>
                                <option value="p2">P2</option>
                                <option value="p3">P3</option>
                            </select>
                        </div>
                            
                        <div class="form-group">
                            <!-- Status -->
                            <label for="status"><b>Status</b></label>
                            &nbsp
                            <select id="status" class="form-control" style="height: 34px">
                                <option value="open">Open</option>
                                <option value="inProgress">In Progress</option>
                                <option value="completed">Completed</option>
                            </select>

                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary" id="createSubmit">Submit</button>

                        <!-- The Modal -->
                        <div id="successCreateModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <p>Successfully Inserted</p>
                            </div>
                        </div>

                        <!-- The Modal -->
                        <div id="failCreateModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <p>Failed to Insert</p>
                            </div>
                        </div>

                    </form>

                    <!-- Retrieve form -->
                    <form style="display: none;" id="Retrive_form">

                        <!-- AssignedTo -->
                        <div class="form-group">
                            <label for="assigned"><b>Search</b></label>
                            &nbsp&nbsp
                            <input type="text" class="form-control" id="assigned" placeholder="search" pattern="[A-Za-z]{1,}" required><br> 
                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-primary" id="Retrievesubmit">Submit</button>
                        </div>

                        <!-- table form -->
                        <div id="table" style="display: none">

                            <!-- Filter to search -->
                            <label for="filter">Filter</label>
                            <input id="filter" type="text" placeholder="Filter Rows...">
                            <br><br>

                            <table class="Retrieve" id="retreiveTable">
                                
                                <!-- Table heading -->
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>description</th>
                                        <th>category</th>
                                        <th>assignedTo</th>
                                        <th>priority</th>
                                        <th>status</th>
                                        <th>remove</th>
                                    </tr>
                                </thead>

                                <!-- Table body -->
                                <tbody id="RetrieveTable">
                                </tbody>

                            </table>
                            <br>

                            <!-- Submit Button -->
                            <div>
                                <button type='button' class='btn btn-primary' id='deleteMul'>Submit</button>
                            </div>
                            <br>

                        </div>

                        <!-- Modal -->
                        <div id="noData" class="modal" style="display: none;">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <p>No Data avaliable on this assigne</p>
                            </div>
                        </div>

                    </form>

                    <form style="display: none;" id="RetrieveForm">

                        <div class="form-group">

                            <div>
                                <label for="role1"><b>Role</b></label>
                                
                                <select id="role1" class="form-control" style="height: 34px">
                                    <option value="choose">choose the role</option>
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                </select>
                                <br>
                            </div>

                            <div>
                                <label for="password1"><b>Enter password</b></label>
                                
                                <input type="password" id="password1" class="form-control" required>
                                <br> &nbsp&nbsp
                            </div>

                            <!-- Submit Button -->
                            <button type="button" class="btn btn-primary" id="rolePwdSubmit">LOGIN</button>

                            <div id="unauthorisedAccess1" class="modal" style="display: none;">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <p>Unauthorised Access</p>
                                </div>
                            </div>

                            <div id="wrongPassword1" class="modal" style="display: none;">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <p>Wrong Password</p>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div id="successDeleteModal1" class="modal" style="display: none;">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <p>Succesfully Deleted</p>
                                </div>
                            </div>
    
                            <!-- Modal -->
                            <div id="failDeleteModal1" class="modal" style="display: none;">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <p>Failed to Delete</p>
                                </div>
                            </div>

                        </div>

                    </form>

                    <!-- Delete form -->
                    <form style="display: none;" id="Delete_form">

                        <div class="form-group">

                            <div>
                                <label for="role"><b>Role</b></label>
                                &nbsp&nbsp&nbsp&nbsp
                                
                                <select id="role" name="role1" class="form-control" style="height: 34px">
                                    <option value="choose">choose the role</option>
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                </select>
                                &nbsp&nbsp
                            </div>

                            <div id="pwd" style="display: none">
                                <label for="password"><b>Enter password</b></label>
                                &nbsp&nbsp&nbsp&nbsp
                                <input type="password" id="password" class="form-control" required>
                                <br> &nbsp&nbsp
                            </div>

                            <button type="submit" class="btn btn-primary" id="roleSubmit">LOGIN</button>

                        </div>

                    </form>

                    <!-- Delete Form-->
                    <form style="display: none;" id="DeleteForm">
                        
                        <label for="id"><b>Enter Id to be deleted</b></label>
                        &nbsp&nbsp
                        <input type="text" id="Id" pattern="[0-9,]{1,150}" required> 
                        &nbsp&nbsp
                        <button type="submit" class="btn btn-primary" id="deleteSubmit">Submit</button>

                        <!-- Modal -->
                        <div id="successDeleteModal" class="modal" style="display: none;">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <p>Succesfully Deleted</p>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div id="failDeleteModal" class="modal" style="display: none;">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <p>Failed to Delete</p>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div id="unauthorisedAccess" class="modal" style="display: none;">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <p>Unauthorised Access</p>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div id="wrongPassword" class="modal" style="display: none;">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <p>Wrong Password</p>
                            </div>
                        </div>
                    </form>

                </div>

                
                <div class="col-md-3"></div>


            </div>
        </div>

        <script type="text/javascript" src="js/script.js"></script>

</body>

</html>