<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

    <servlet>
        <servlet-name>EventController</servlet-name>
        <servlet-class>com.event.controller.EventController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventController</servlet-name>
        <url-pattern>/EventController</url-pattern>
    </servlet-mapping>


    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>

    <listener>
        <listener-class>com.event.controller.ContextListener</listener-class>
    </listener>
</web-app>